.backgroundMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
  opacity: 0.3;
}
.ContactTitle {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    font-weight: bold;
    color: #00ffb399;
    text-align: center;
    margin-bottom: 20px;
}
.ContactForm {
    color: #00ffb399;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}