body{
    margin: 0;
    padding: 0;
    background-color: black;
}
.logo{
    float: left;
}
.homepic{
  display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border: none;
}
#homepic::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 60%,  
    rgba(0, 0, 0, 0.8) 100% 
  );
  z-index: 1;
  pointer-events: none;
}
#transition-bar {
  position: relative;
  width: 100%;
  height: 120px;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: white;
  font-family: 'Arial', sans-serif;
  z-index: 5;
  backdrop-filter: blur(5px);
}

.social-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
}

.follow-text {
  font-size: 20px;
  font-weight: bold;
  margin: 0;
  padding-bottom: 20px ;
  letter-spacing: 0.5px;
}

.social-links a {
  color: #fbb438;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
  font-weight: bold;
}

.social-links a:hover {
  color: #ffffff;
  transition: 0.3s ease;
}

#homepic{
  position: relative;
  height: 100vh;
  display: flex;
}
#navbar{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #fbeaea;
        box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}
#hometext {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Arial', sans-serif;
  color: rgb(255, 255, 255);
}

#homebutton{
  font-size: 20px;
  padding: 2px 20px;
  color: rgb(0, 0, 0);
  background-color: #fbb438;
  border: none;
  border-radius: 2px;
}
#homebutton:hover{
  background-color: #fbb438;
  color: rgb(255, 255, 255);
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
  transition: 0.3s linear;
  border-radius: 7px;
}
#links a {
    font-family: 'Arial', sans-serif;
    font-size: 20px;
  color: #007e19;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
  margin-right: 5px;
  
}
#links a:hover {
  background-color: #007e19;
  color: rgb(255, 255, 255);
  transition: 700ms linear;
  border-radius: 7px;
  box-shadow:0 8px 16px 0 rgba(0,0,0,0.6);
}
.headgal{
  font-family: 'Arial', sans-serif;
  text-align: start;
  margin-left: 2rem;
  font-size: 60px;
  color: #fbb438;
}

.galPic {
  width: 100%;
  height: 100vh; 
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1; 
}


#galeriehome {
  position: relative;
  height: 100vh;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}


.galPic {
  width: 100%;
  height: 100vh;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -2;
}

#galeriehome::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(to bottom,
    rgba(0, 0, 0, 0.9) 0%,   
    rgba(0, 0, 0, 0) 30% );
  z-index: -1;
}

.galContent {
  position: relative;
  color: white;
  text-align: center;
  z-index: 1;
  font-family: 'Arial', sans-serif;
}
#footer {
  background-color: #fbeaea;
  color: #007e19;
  text-align: center;
  padding: 15px 0;
  position: relative;
  bottom: 0;
  width: 100%;
}
.head{
  font-family: 'Arial', sans-serif;
  text-align: start;
  margin-left: 2rem;
  font-size: 15px;
}